* {
    margin: 0;
}

html, body {
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    height: 100%;
}


/**
 * Layout
 */

.container-fluid {
    padding: 0;
}

.section {
    padding: 3.4rem 0;
}

.full-width:before,
.full-width:after {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    bottom: 0;
    width: 9999em;
}

.full-width:before {
    right: 100%;
}

.full-width:after {
    left: 100%;
}


/**
 * Components
 */

.light {
    background-color: #e7e7e7;
    color: #333;
}

.dark {
    background-color: #333;
    color: #fff;
}

/* tout */
.tout {
    box-shadow: 0 0 0px 1px rgba(0,0,0,0.1);
    padding: 4rem 0;
}

.tout p {
    color: #666;
    display: block;
    font-size: 3.4rem;
    font-weight: 300;
    line-height: 1.2em;
    text-align: center;
}

/* button */
.btn {

}

/* thumbnails */
.thumbnails .thumbnail {
    border: none;
    border-radius: 0;
    padding: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/**
 * Typography
 */

.section-heading {
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.4em;
    margin: 0 0 2rem;
    padding: 0.5rem 1rem;
}

.light .section-heading,
.carousel-container .section-heading {
    color: #f82a55;
    border-color: #f82a55;
}

.dark .section-heading {
    color: #fff;
    border-color: #fff;
}

.two-col {
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;

    -moz-column-gap: 3.4rem; /* Firefox */
    -webkit-column-gap: 3.4rem; /* Safari and Chrome */
    column-gap: 3.4rem;

    column-width: 40rem;
    -moz-column-width: 40rem; /* Firefox */
    -webkit-column-width: 40rem; /* Safari and Chrome */
}

p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6em;
}

/**
 * Utility
 */

.no-wrap {
    display: block;
    overflow: hidden;
}


/**
 * Header
 */

#pageheader .main-nav {
    height: 6.4rem;
}

.main-nav .navbar-inner {
    background-color: #fff;
    background-image: none;
    border-bottom: none;
    vertical-align: middle;
}

#pageheader .navbar-inner {
    min-height: 3.4rem;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.main-nav .brand {
    background-image: url("../img/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 6.4rem;
    margin: 0;
    padding: 0;
    text-indent: -9999em;
    width: 9.5rem;
}

.main-nav .nav > li {
    box-shadow: inset 1px 0 0 0 rgba(0,0,0,0.08);
}

.main-nav .nav > .linkedin {
    padding: 2.25rem 0 2.25rem 2.25rem;
}

.main-nav .nav > li > a {
    border-radius: 0;
    color: #333;
    font-size: 1.4rem;
    font-weight: 500;
    height: 6.8rem;
    line-height: 6.8rem;
    margin: 0;
    padding: 0 2.1rem;
    text-transform: uppercase;

    -webkit-transition: all 0.15s ease-out;
       -moz-transition: all 0.15s ease-out;
         -o-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
}

.main-nav .nav > li > a:hover {
    background-color: #f82a55;
    color: #fff;
    text-shadow: none;
}

.main-nav .nav > .active > a {
    background-color: #fafafa;
    text-shadow: none;

    -webkit-box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.1);
}

.main-nav .nav > .active > a:hover {
    background-color: #f1f1f1;
}

.main-nav .nav > .linkedin > a {
    background-image: url('../img/icon_linkedin.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 2.3rem;
    padding: 0;
    text-indent: -9999em;
    width: 2.3rem;
}

#pageheader .subnav .navbar-inner {
    background-color: rgba(0,0,0,0.66);
    background-image: none;
    border: none;
    height: 3.4rem;
}

.subnav .navbar-inner {
    position: relative;
    top: 6.8rem;
}

.subnav .nav > li {
    font-size: 0rem;
    margin: 0;
    padding: 0;
}

.subnav .nav > li > a {
    border-radius: 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.4rem;
    margin: 0;
    padding: 0 2.1rem;
    text-shadow: none;

    -webkit-transition: all 0.15s ease-out;
       -moz-transition: all 0.15s ease-out;
         -o-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
}

.subnav .nav > li > a:hover,
.subnav .nav > .active > a {
    background-color: #f82a55;
    color: #fff;
    text-shadow: none;

    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}


/**
 * Footer
 */

#pagefooter {
    background-color: #333;
    height: 4.8rem;
}

#pagefooter small {
    color: #999;
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 4.8rem;
    text-align: center;
}

/**
 * About
 */

.about .hero-unit {
    background-image: url('../img/bg_photo-harvard-1.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    height: 404px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

/* leadership / associates */
.section.carousel-container {
    padding: 0;
}

.section.carousel-container .section-heading {
    position: absolute;
    top: 3.4rem;
}

.carousel {
    height: 54.5rem;
    margin: 0;
}

.carousel-container .container {
    position: relative;
    z-index: 10;
}
.carousel .item {
    background-color: #e7e7e7;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 54.5rem;
    max-height: 54.5rem;
    overflow: hidden;
}

.carousel .profile {
    margin-top: 16rem;
}

.carousel .profile .name {
    color: #f82a55;
    display: inline-block;
    font-size: 4.2rem;
    font-weight: 600;
    margin-right: 0.2em;
    margin-bottom: 2.8rem;
}

.carousel .profile .title {
    color: #333;
    display: inline-block;
    font-size: 4.2rem;
    font-weight: 400;
    margin-bottom: 2.8rem;
}

.carousel .carousel-control {
    background-color: transparent;
    border: none;
    display: block;
    height: 5.7rem;
    margin-top: -2.8rem;
    position: absolute;
    top: 42%;
    width: 2.9rem;

    opacity: 0.5;
    filter: alpha(opacity=50);

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.carousel .left {
    background-image: url('../img/btn_slide-left.png');
    background-size: cover;
    background-repeat: no-repeat;
    left: 4.4rem;
}

.carousel .right {
    background-image: url('../img/btn_slide-right.png');
    background-size: cover;
    background-repeat: no-repeat;
    right: 4.4rem;
}

/* alums */
#alums .thumbnails {
    margin-top: 2.8rem;
}

.alum .caption {
    padding-left: 2.1rem;
}

.alum .caption .name {
    color: #f82a55;
    display: block;
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1em;
    margin: 0 0 0.8rem;
}

.alum .caption .title {
    color: #333;
    display: inline-block;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 1em;
    margin: 0 0 0.8rem;
}