/**
 * Header
 */

#pageheader {
    position: relative;
    z-index: 100;
}

#pageheader .main-nav {
    height: 6.4rem;
}

.main-nav {
    margin-bottom: 0;
}

.main-nav .navbar-inner {
    background-color: #fff;
    background-image: none;
    border-bottom: none;
    vertical-align: middle;
}

#pageheader .navbar-inner {
    min-height: 3.4rem;
    padding: 0;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.main-nav .brand {
    background-image: url("../img/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 6.4rem;
    margin: 0 0 0 2rem;
    padding: 0;
    text-indent: -9999em;
    width: 9.5rem;
}

.main-nav .nav > li {
    box-shadow: inset 1px 0 0 0 rgba(0,0,0,0.08);


}

.main-nav .nav > li > a {
    border-radius: 0;
    color: #333;
    font-size: 1.4rem;
    font-weight: 500;
    height: 6.8rem;
    line-height: 6.8rem;
    margin: 0;
    padding: 0 2.1rem;
    text-align: center;
    text-transform: uppercase;

    -webkit-transition: all 0.15s ease-out;
       -moz-transition: all 0.15s ease-out;
         -o-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
}

.main-nav .nav > li > a:hover,
.main-nav .nav > li > a:active {
    background-color: #f82a55;
    color: #fff;
    text-shadow: none;
}

.main-nav .nav > .active > a {
    background-color: #fcfcfc;
    text-shadow: none;

    -webkit-box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.1);
}

.main-nav .nav > .active > a:hover {
    background-color: #f1f1f1;
}

#pageheader .subnav .navbar-inner {
    background-color: rgba(0,0,0,0.66);
    background-image: none;
    border: none;
    height: 3.4rem;
}

.subnav .navbar-inner {
    position: relative;
    top: 6.8rem;
}

.subnav .nav > li {
    font-size: 0rem;
    margin: 0;
    padding: 0;
}

.subnav .nav > li > a {
    border-radius: 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.4rem;
    margin: 0;
    padding: 0 2.1rem;
    text-shadow: none;

    -webkit-transition: all 0.15s ease-out;
       -moz-transition: all 0.15s ease-out;
         -o-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
}

.subnav .nav > li > a:hover,
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
    background-color: #f82a55;
    color: #fff;
    text-shadow: none;

    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.btn.btn-navbar {
    background-color: transparent;
    background-image: url('../img/header-mobile-toggle.png');
    background-position: center;
    border: none;
    border-radius: 0;
    height: 2.6rem;
    margin: 1.9rem;
    padding: 0;
    width: 3rem;
}

.btn.btn-navbar:hover {
    background-color: transparent;
    background-position: center;
}

/* mobile */
@media only screen and (max-width: 979px) {
    #pageheader .main-nav .nav > li {
        box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.04);
    }
}

/* desktop */
@media only screen and (min-width: 980px) {
    .main-nav .nav > .linkedin {
        padding: 2.25rem 0 2.25rem 2.25rem;
    }

    .main-nav .nav > .linkedin > a {
        background-image: url('../img/icon_linkedin.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 2.3rem;
        padding: 0;
        text-indent: -9999em;
        width: 2.3rem;

        -webkit-transition: all 0.15s ease-out;
           -moz-transition: all 0.15s ease-out;
             -o-transition: all 0.15s ease-out;
                transition: all 0.15s ease-out;
    }

    .main-nav .nav > .linkedin a:hover {
        background-color: transparent;
    }

    .main-nav .nav > .linkedin > a:active {
        background-color: transparent;
        height: 2.0rem;
        padding-left: 0.3rem;
        width: 2.0rem;
    }
}