/**
 * About Us
 */

#hero {
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}

.tout {
    box-shadow: 0 0 0px 1px rgba(0,0,0,0.1);
    padding: 4rem 0;
}
.tout-copy {
    color: #666;
    display: block;
    font-size: 3.4rem;
    font-weight: 300;
    line-height: 1.2em;
    text-align: center;
}

#leadership, #associates {
    padding-bottom: 0;
}

.alum {
    margin-bottom: 3.4rem;
}

.alum-thumb {
    display: block;
    height: auto;
}

.alum-information {
    padding: 0 2rem;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.alum-information hgroup {
    margin-bottom: 0.8rem;
}

.alum-information .name,
.alum-information .title {
    line-height: 1.2em;
}

.alum-information p {
    margin-bottom: 0;
}

.fader {
    height: 436px;
}

.fader-information {
    margin-top: 11%;
}

.fader-information hgroup {
    margin-bottom: 2rem;
}