/**
 * Header
 */

#site-logo {
    background-image: url("../img/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 6.4rem;
    margin-bottom: 0;
    margin-top: 0;
}

#site-header-top {
    background-color: #fff;
    height: 6.4rem;
}

/* Top Header */

#site-navigation {
    float: right;
    font-size: 0rem;
    margin: 0;
    padding: 0;
}

#site-navigation li {
    box-shadow: inset 1px 0 0 0 rgba(0,0,0,0.1);
    display: inline-block;

    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

#site-navigation a {
    color: #333;
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 6.4rem;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;

    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

#site-navigation li:hover,
#site-navigation li.selected {
    background-color: #f82a55;
}

#site-navigation li:hover a,
#site-navigation li.selected a {
    color: #fff;
}

#site-navigation .linkedin:hover {
    background-color: #fff;
}

.linkedin a {
    background-image: url('../img/icon_linkedin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.3rem;
    display: block;
    height: 6.4rem;
    text-indent: -9999px;
    width: 2.3rem;
}

/* Bottom Header */

#site-header-bottom {
    background-color: rgba(0,0,0,0.66);
    height: 3.4rem;
    position: absolute;
    top: 6.4rem;
}

#section-navigation {
    font-size: 0rem;
    margin: 0;
    padding: 0;
}

#section-navigation li {
    display: inline-block;

    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

#section-navigation li a {
    color: #fff;
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 3.4rem;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: capitalize;

    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

#section-navigation li:hover,
#section-navigation li.selected {
    background-color: #f82a55;
}