.fader {
    overflow: hidden;
    position: relative;
}

.fader .slide {
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.fader-controls {
    position: relative;
    z-index: 4;
}